@model Acc.Api.Models.Dto.View.SelectAccountDto 
@{
  ViewBag.Title = "Select Account"; 
  Layout = "_Layout"; 
}

<h1 class="w-full m-auto max-w-xs mt-4">Select Account</h1>
<div class="w-full m-auto max-w-xs mt-4">
  @foreach (var account in Model.Accounts) {
  <form
    class="bg-white rounded px-8 pt-6 pb-8 mb-4"
    action="SelectAccount"
    method="post"
  >
    <div class="mb-4">
      <input
        id="id"
        name="AccountId"
        asp-for="@account.AccountId"
        value="@account.AccountId"
        value="@account.AccountId"
        type="hidden"
        class=" appearance-none  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
      />
    </div>

    <div class="mb-4">
      <button
        id="btn"
        type="submit"
        name="selectedValue"
        class="w-full">
        <div class="w-full m-auto flex justify-between">
          
          <div class="">@account.AccountName</div>
          <div class="">@account.UserRoleId</div>
        </div>
      </button>
      

    </div>
  </form>
  
 }
 
</div>
